*   {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

.container  {
    width: 100%;
    max-width:1200px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    
}
body::-webkit-scrollbar    {
    display: none;
}
body    {
    position: relative;
    /* background:linear-gradient(45deg, rgba(212, 182, 182, 0.1), rgba(165, 142, 159, 0.4), rgb(255, 255, 255), rgb(255, 255, 255)); */
    /* background-color: rgb(250, 250, 250); */
    /* background-color: rgba(194, 233, 247, 0.2); */
}
.header {
    margin-bottom: 0px;
    background-repeat: no-repeat;
    background-position: 60% 100%;
    width: 100%;
    border:thin solid rgba(66, 66, 66, 0.1);
    border-top:0px;
    padding-bottom:40px;
    position: relative;
    animation-delay:1s;
    animation-duration: 5s;
}
.head   {
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 100px;
}
.head .logo + div  {
    position: absolute;
    right: 5%;
    top: 35px;
    z-index: 100;
}
h3.des  {
    font-family: 'Didact Gothic', sans-serif;
    font-family: "Zilla Slab";
    font-size: 20px;
    font-weight: 600;
    color: rgb(53, 46, 22);
    margin-left: 10px;
    text-indent: 30px;
    position:relative;
    top:35px;
    text-shadow: 0.1px 1.1px 0.1px gray;
    letter-spacing: 1px;
}
.des:first-letter   {
    color:red;
    font-size:35px;
    font-family : 'Mate SC', serif;
    font-family:'Nova Script', cursive;
}
.right-s  input {
    padding: 10px;
    background-color: transparent;
    outline: none;
    border: thin solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    color:rgba(59, 20, 20, 0.6);
    color: rgb(63, 55, 27);
    display: inline-block;
    cursor: pointer;
    box-shadow: inset 0.4px 0.0px 0px rgba(40, 44, 41, 0.2);
    font-weight: 600;
    letter-spacing: 2px;
    font-family: 'Zilla Slab', serif;
    margin: 4px;
    transition-property: transform;
    transition-duration: 350ms;
}
.right-s  input:hover,.comment input[type="submit"]:hover   {
    transform: scale(1.1);
}
 nav {
    position: relative;
    width: 100%;
    margin-top:30px;    
} 
nav ul {
    list-style-type: none;
    margin-left:5%;
}
nav ul li {
    display: inline-block;
    font-family: 'Mate SC', serif;
}
nav ul li a {
    text-decoration: none;
    display: inline-block;
    color: rgb(36, 8, 8);
    margin: 0 20px;
    font-weight: 600;
    letter-spacing: 1px;
    transition-property: border-bottom;
}
nav ul li a:focus   {
    border-bottom: 3px solid blue;
}
nav ol {
    list-style-type: none;
    position: absolute;
    top: -55px;
    right: 5.8%;
}
nav ol li {
    display: inline-block;
}
nav ol li a i{
    color: rgb(19, 23, 248);
    color:#222;
    width:30px;
    padding: 10px;
    display: inline-block;
}
.toggle {
    display: none;
}
.main   {
    padding-top: 10px;
    margin-top: 0px;
    position: relative;
    width: 100%;
    /* height: 50vh; */
    /* color: #ec9a1f; */
    padding:5%;
    background-color: rgb(0, 60, 255);
    background-color: #222;
    /* background-image: url('phonerepair.jpg'); */
    background-repeat: no-repeat;
    background-position: 0% 50%;
    animation-delay:0.4s;
    animation-duration: 5s;
}
#particles-js {
    position:absolute;
    right:15%;
    width:70%;
    top:60px;
}
main {
    /* position: absolute; */
    /* position: relative; */
    /* background-color: rgb(42, 26, 56); */
    /* background-color: skyblue; */
}
.user-icon {
    display: inline-block;
    position: relative;
    top: 0px;
    border-radius: 2px;
    right:0%;
    border-bottom: thin solid rgba(49, 22, 49, 0.2);
    padding: 3px 5px;
    cursor: pointer;
}
.user-icon i {
    font-size: 22px;
    color:#222;
    /* border: thin solid rgb(37, 34, 34); */
    border-radius: 100%;
    padding: 5px;
}
.user-icon span {
    position: relative;
    top:-2px;
    /* left: -2%; */ 
    color: rgb(35, 33, 36);
    font-family: 'Poppins', sans-serif;
    letter-spacing:1.5px;
    font-weight: 600;
    padding-right: 1px;
    font-size: 13px;
    text-transform: capitalize;
}
.info   {
    max-width: 900px;
    width: 100%;
    margin: 7% auto;
    position:relative;
    /* z-index:100; */
}
#htitle::first-letter {
    font-size: 60px;
    color: red;
    color:#fff;
    font-family:'Nova Script', cursive;
    /* font-family:; */
}
.info #htitle   {
    font-family: 'Mate SC', serif;
    font-size: 45px;
    /* font-family: 'Poppins', sans-serif; */
    /* font-family :Script; */
    letter-spacing:1.5px;
    font-weight:bolder;
    text-indent: 17px;
    color:red;
    margin-bottom: 20px;
}
.info .info-des {
    font-family: 'Poppins', sans-serif;
    font-family: 'Mate SC', serif;
    text-transform:capitalize;
    letter-spacing:2.5px;
    line-height: 35px;
    padding: 3% 16px 1%;
    color: rgb(255, 255, 255);
    font-weight: 300;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 20px;
}
.btn  {
    padding: 10px;
    outline: none;
    font-family: 'Mate SC', serif;
    border-radius: 4px;
    margin: 15.5px;
    border: thin solid rgba(196, 194, 194, 0.2);
    opacity: 01;
    /* color: rgb(13, 76, 136); */
    letter-spacing: 1.6px;
    color: rgba(249, 250, 253, 0.7);
    cursor: pointer;
    font-weight: 600;
    background-color: blue;
    transition-property: transform;
    transition-duration: 350ms;
}
.btn:hover   {
    transform: scale(1.1);
}
.contact    {
    background-color: rgb(250, 15, 15);    
    font-family: 'Zilla Slab', serif;
    font-weight: 600;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.8);
} 
.footer {
    width:100%;
    /* max-width: 1000px; */
    padding:5% 0%;
    
}
.footer footer .foot-intro {
    width: 100%;
    border-radius: 3px;
    /* border: thin solid rgba(0,0,0,0.1); */
}
.foot-intro::-webkit-scrollbar {
    display: none;
}
.foot-intro >div    {
    /* background-color: rgb(219, 215, 223); */
    /* padding:5% 5%; */
    margin:5% 0px;
}

.foot-intro div h4  {
    /* text-decoration: underline; */
    /* font-family: 'Didact Gothic', sans-serif; */
    font-family: 'Zilla Slab', serif;
    font-size: 25px;
    color: rgb(22, 9, 209);
    color:#222;
    /* color:#fff; */
    padding: 0% 0% 2%;
    text-align: center;
    /* color:rgb(224, 246, 250); */
    font-weight: 600;
    text-indent:1px;
}

.started    {
    background-color: rgb(248, 7, 7);
    /* background-color: blue; */
    color: white;
    display: block;
    margin:15px 29%;
    padding: 15px 10px;
    border: thin solid rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    outline: none;
    font-family: 'Zilla Slab', serif;
    width: 40%;
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: 600;
}
.news   {
    width: 100%;
}
.foot-intro div p:not(p.saySomething)  {
    font-family: 'Zilla Slab', serif;
    word-spacing: 3px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding:10% 10%;
    /* text-transform: capitalize; */
    font-size: 15px;
    background-color: blue;
    background-color: #222;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    box-shadow: 0.1px 0.3px 0.5px rgba(47, 22, 49, 0.1);
    line-height:30px;
    border-radius:0px;
    border:thin solid rgba(58, 16, 47,0.2);
    word-spacing: 1px;
}
p.postedNews div:first-child {
    margin-top: 0px;
}
.foot-intro div.news .postedNews  {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding:0% !important;
    color: rgb(43, 14, 38);
    letter-spacing: 1px;
    line-height:28px;
    word-spacing: 3px;
    border: none;
} .saySomething small {
    color:red;
    padding: 0px 2%;
    font-size:27px;
}
.comment .saySomething {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding:5% 5%;
    width: 100%;
    margin: 5px auto;
    text-align: center;
    color: #30373a;
    color:rgb(255, 255, 255);
    background-color: #222;
    margin-top: 10px;
    letter-spacing: 1px;
    line-height:25px;
    border-radius: 0px;
    word-spacing: 3px;
}
.news {
    position: relative;
}
.news p {
    position: relative;
    border: none;
}
.add {
    color:blue;
}
.news p .postbox    {
    padding: 5%;
    border-radius: 2px;
    margin:0px 0px;
    background-color: rgb(255, 255, 255);
    margin: 0px 0px 0px 0px;
    /* border: thin solid rgb(49, 17, 233); */
}
.news p .date {
    position: relative;
    display: block;
    left: 0%;
    width:100%;
    color: rgba(26, 26, 241, 0.7);
    /* color:rgb(182, 233, 241); */
    top: 10px;
    letter-spacing: 1px;
    font-family: 'Zilla Slab', serif;
    font-size: 15px;
    padding: 2% 0%;
    border-radius: 3px;
    border: thin solid rgba(76, 18, 233, 0.1);
}.news p .userpost {
    display: block;
    padding:2% 3%;
}
.news p .date .posted {
    text-align: center;
    border-bottom: thin solid rgba(8, 42, 238, 0.06);
    margin:2% 0%;
    padding: 3%;
}
.date i.fa-pencil {
    border-radius: 100%;
    border:thin solid rgba(0, 0, 255, 0.3);
    padding:5px;
    color: blue;
    cursor: pointer;
}
.comment    {
    margin-top: 2%;
}
.postup {
    position: fixed;
    /* background-color: rgb(6, 134, 143); */
    color: cornsilk;
    letter-spacing: 1px;
    text-transform: capitalize;
    padding: 4% 2%;
    width: 100%;
    left: 0%;
    margin:0px 0% 0% 0%;
    text-align: center;
    top:0%;
    z-index: 100;
    font-weight: bold;
    display: none;
    /* border: thin solid crimson; */
    border-radius: 2px;
    
    font-family: "Poppins", sans-serif;
}
.postright {
    background-color: rgb(6, 134, 143);
}
.postwrong {
    background-color: crimson;
}

.comment #mynews {
    font-family: 'Poppins', serif;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 10px;
    height: 90px;
    border-radius: 3px;
    width:90%;
    display: block;
    margin :5px auto;
    border-radius: 2px;
    outline: none;
    border: thin solid rgba(41, 11, 216, 0.2);
}
.comment input[type="submit"] {
    display: block;
    margin:5px 0;
    font-family: 'Zilla Slab', serif;
    font-weight: 600;
    letter-spacing: 2px;
    background-color: rgb(223, 10, 10);
    color: rgba(255, 255, 255,01);
    outline: none;
    text-transform: uppercase;
    border-radius:2px;
    margin-left: 5%;
    transition-property: transform;
    transition-duration: 350ms;
    padding: 10px 30px;
    cursor: pointer;
    border: thin solid rgba(255, 255, 255, 0.2);
}
.foot-intro div a   {
    font-family: 'Poppins', serif;
    font-weight: 600;
}

.notification   {
    /* float: right; */
    /* display: block; */
    top:40px;
    font-size:13px;
    position: relative;
    right:5%;
    position: absolute;
    color: rgb(255, 255, 255);
    /* margin-right: 10px; */
    text-decoration: none;
    /* padding:25px 20px; */
    /* border:thin solid gainsboro; */
    /* background-color: rgb(15, 15, 87); */
    border-radius: 100%;
}
.userp {
    font-size: 30px;
    color: rgba(13, 158, 184, 0.7);
    color: rgb(0, 26, 255);
    color:red;
    padding: 2% ;
    cursor: pointer;
}
.userp + span {
    font-size: 14px;
    vertical-align: super;
    margin-left: -6px;
    text-transform: capitalize;
    color: rgb(15, 76, 241);
}
.notification   small {
    position:relative;
    background-color: rgb(255, 0, 13);
    padding: 7px 10px;
    left: -10px;
    top: -15px;
    border-radius: 100%;
}
article {
    position: relative;
    margin-bottom:5px;
    background-color: cornsilk;
    background-color: rgb(2, 19, 252);
    background-color: #222;
    /* border-radius: 4px; */
    padding:5% 10%;
}
.link-news  {
    display: inline-block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    /* margin-left: 10px; */
    /* text-align: center; */
    font-size: 20px;
    
}
.posts {
    position: relative;
    display: inline-block;
    margin-top: 19px;
    padding: 4px;
    background-color: rgba(255, 255, 255,0.1);
}
.posts span  i {
    /* color:rgba(58, 20, 20, 0.5); */
    font: size 20px;
    cursor: pointer;
}
.fa-thumbs-up, .fa-thumbs-down {
    color: rgb(148, 151, 161);
    font-size: 19px;
}
.posts  span {
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
}
.cancel, .fa-trash-o {
    position: relative;
    top: 0px;
    padding: 4px 5px;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    color: rgba(255, 0, 0, 0.7);
}
.posts span small {
    font-family: 'Poppins', serif;
    color: rgb(20, 26, 29);
    font-weight: 600;
    margin-left: 4px;
    font-size: 13px;
}
input[type="hidden"] {
    display: none;
}
.visits  {
    width: 100%;
}

.abouts   {
    padding: 10%;
    width: 100%;
    background-color: rgb(0, 0, 0);
}
.abouts h4  {
    font-family: 'Didact Gothic', sans-serif;
    font-size:16px;
    padding: 4px;
    letter-spacing: 1px;
    border-bottom: thin solid red;
    margin: 0px 0px 10px 0px;
    color:rgb(255, 255, 255);
    /* text-decoration: underline; */
}
.abouts span    {
    font-weight: 600;
}
.abouts a   {
    padding: 10px;
    font-weight: 600;
    font-family: 'Didact Gothic', sans-serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.abouts a i {
    color: rgb(248, 72, 72);
    font-size: 20px;
    position: relative;
    top: 3px;
}
.abouts p   {
    font-family: 'Zilla Slab', serif;
    word-spacing: 3px;
    text-shadow: 0.3px 0.4px 0.4px rgba(165, 160, 160,00.4);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    line-height:28px;
}
.service {
    
}
.service h3 {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 20px;
    padding: 0px;
    margin: 0px 0px 10px 10px;
    color: rgb(14, 29, 236);
    color:red;
    /* text-decoration: underline; */
    text-indent:3px; 
}
.learn {
    color: white;
    background-color: red;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    outline: none;
    transition-property: transform;
    transition-duration: 350ms;
    animation-timing-function: ease-in-out;
    /* animation-iteration-count: infinite; */
}
.btn:active {
    transform: scale(01.98);
}
.newsletter {
    position: relative;
    width: 70%;
    text-align: center;
    margin: 0% auto;
}
.newsletter #newsletter {
    width: 70%;
    border-radius: 20px;
    outline: none;
    padding: 3%;
    font-family: "Zilla Slab", sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    border: thin solid rgba(63, 63, 65, 0.3);
}
.newsletter h5 {
    font-family: "Zilla Slab", sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    margin: 10px;
    font-size: 20px;
}
.newsletter #newsletter+input {
    position: absolute;
    padding: 3%;
    right:10%;
    border: none;
    outline: none;
    background-color: red;
    font-family: "Zilla Slab", sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    color: #fff;
    border-radius: 20px;
    border: thin solid rgba(63, 63, 65, 0.3);

}
.service div {
    background-color: #222;
    color:rgb(255, 255, 255);
    padding: 1% 0px;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
}
.service div p {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 4% 2% 1% 2%;
    line-height: 30px;
    font-size: 13px;
}
.service div i {
    color:white;
    position: relative;
    right: 0%;
}
.web-tut {
    width: 150px;
    border-radius: 100%;
    padding:20px;
    margin-top: 5%;
}
.service ul li span {
    color: rgb(27, 70, 70);
}
.copy   {
    display:block;
    margin-top: 10px;
    text-align: center;
    font-family: 'Zilla Slab', serif;
    font-weight: 600;
}

/* Javascript generated */
.log    {
    position: absolute;
    z-index: 100;
    background-color: beige;
    width: 100%;
    max-width:1200px;
    margin: 0 auto;
    padding:5% 10%;
    box-shadow: inset 0.1px 0px 2px rgb(138, 198, 211);
}
.log    form {
    position: relative;
}
.log form i {
    position: absolute;
}
.log h3 {
    text-align: center;
    font-family: 'Zilla Slab', serif;
    letter-spacing: 1px;
    margin-bottom: 20px;
    color: rgba(10, 60, 126, 0.9);
}
.log .inputs:not(.inlines)  {
    display: block;
    border-radius: 3px;
    outline: none;
    width: 100%;
    border: thin solid rgba(64, 106, 160, 0.3);
    padding: 3%;
    font-family: 'Didact Gothic', sans-serif;
    margin: 15px 0px;
    letter-spacing: 1px;
    font-weight: 600;
}
.do {
    color: rgb(2, 2, 248) !important;
}
label[for="email"]  i{
    position: relative;
    top: -2px;
    color: rgba(16, 32, 252, 0.8);
    padding:1%;
    font-size: 20px;
    vertical-align: middle;
}
.log    label   {
    color: rgba(10, 60, 126, 0.9);
    font-family: 'Zilla Slab', serif;
    font-weight: 600;
    font-size: 14px;
    position: relative;
    top: -2.6px;
    left:3px;
    cursor: pointer;
    letter-spacing: 1px;
}
label[for="email"]  {
    top:7px;
}
.log label + input[type="radio"] {
    position: relative;
    left:1px;
}

.log    input[value="DONE"] {
    padding: 10px 15px;
    font-family: 'Zilla Slab', serif;
    font-weight: 600;
    letter-spacing: 1.5px;
    background-color: rgb(212, 66, 44);
    border: thin solid rgba(255, 255, 255, 0.1);
    outline: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
    box-shadow: inset 0.1px 0.1px 3px rgb(253, 253, 253);
    border-radius: 4px;
    font-size: 12px;
    transition-property: transform;
    transition-duration: 350ms;
}
.log    input[value="DONE"]:active {
    transform: scale(1.10);
}
.rightfeed {
    border: thin solid whitesmoke;
    padding: 4%;
    letter-spacing: 1px;
    border-radius: 3px;
    margin-bottom: 10px;
    font-family: 'Didact Gothic', sans-serif;
    font-weight: 600;
    text-shadow: 0.1px 0.1px 0.1px gray;
    color: rgb(255, 255, 255);
    background-color: rgba(251, 133, 116, 0.7);
}
.feedback {
    border: thin solid whitesmoke;
    padding: 4%;
    letter-spacing: 1px;
    border-radius: 4px;
    margin-bottom: 10px;
    font-family: 'Didact Gothic', sans-serif;
    font-weight: 600;
    text-shadow: 0.1px 0.1px 0.1px gray;
    color: rgb(255, 255, 255);
    background-color: rgba(236, 38, 38, 0.7);
}
label .user  {
    display: inline-block;
    position: absolute;
    left: 85px;
    top: 1.7px;
    color: rgb(70, 20, 75);
    color: rgba(16, 32, 252, 0.8);

    font-size: 17px;
}
#welcome {
    animation-delay:2s;
}
#title i {
    color: rgb(70, 20, 75);
    color: rgba(16, 32, 252, 0.8);
    font-size: 25px;
}
.newlog {
    background-color: rgba(16, 32, 252, 0.8);
    color: white;
    padding: 10px 25px 10px 15px;
    border: thin solid rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    font-family: 'Zilla Slab', serif;
    position: absolute;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 1px;
    font-size: 12px;
    text-transform: uppercase;
    right: 0%;
    box-shadow: inset 0.1px 0.1px 3px rgb(253, 253, 253);
    transition-property: transform;
    transition-duration: 350ms;
}
.newlog:active {
    transform: scale(1.10);
}
.newlog i {
    top:13px;
    right:7px;
}
.reduce {
    opacity: 0.4;
}
.right  {
    border: 1px solid rgba(79, 245, 223, 0.6);
    display: block;
    box-shadow: 0.5px 0px 0.11px rgba(79, 245, 223, 0.1);
    border-radius: 3px;
    outline: none;
    width: 100%;
    padding: 3%;
    font-family: 'Didact Gothic', sans-serif;
    margin: 15px 0px;
    letter-spacing: 1px;
    font-weight: 600;
}
.error {
    border: 1px solid rgb(202, 45, 77);
    display: block;
    border-radius: 3px;
    outline: none;
    width: 100%;
    padding: 3%;
    font-family: 'Didact Gothic', sans-serif;
    margin: 15px 0px;
    letter-spacing: 1px;
    font-weight: 600;
}
@media only screen and (max-width: 600px) {
    .show {
        display:block;

        margin-top:10px;
        margin-right: 20px;
        border-top: thin solid rgba(0, 5, 2, 0.1);
    } 
    nav ul {
        display:none;
        background-color: #fff;
    }  
    
    nav ul li.nav-item   {
        display: block;
        margin: 10px 0%;
        border-bottom: thin solid rgba(0, 5, 2, 0.1);
        padding: 5% 1%;
        /* width: 100%; */
    }
    nav ul li.nav-item a  {
        /* color:#fff; */
        width: 120px;
    }
    nav ul li.nav-item a i {
        color:rgb(250, 32, 32);
        display: inline;
        padding-right:10%;
    }
    nav ol  {
        right: 7.5%;
        top: -35px;
    }
    .toggle {
        display: block;
        position: absolute;
        left: 14%;
        border-radius: 2px;
        top :-33px;
        font-size: 18px;
        cursor: pointer;
        padding:3px;
        border:none;
        color:rgb(0, 0, 0);
        outline: none;
        transition-property: transform;
        transition-duration: 550ms;
        z-index: 100;
        background-color: transparent;
        opacity:0.7;
    }
    .fa-phones  {
        display: block;
        left: 0%;
    }
    .info .title{
        font-size: 40px;
        font-weight: 600;
        letter-spacing: 2px;
    }
    .info {
        text-align:center;
    }
    .info .info-des {
        font-size: 17px;
        display: none;
        letter-spacing: 2px;
    }
    .toggle:active  {
        transform: scale(1.3);
    }
    .btn    {
        padding: 2%;
        font-size: 12px;
    }
    
    .footer .foot-intro {
        border: none;
    }
}