* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
body::-webkit-scrollbar {
    display: none;
}
.container {
    overflow-x: hidden;
    width: 100%;
    margin: 0% auto;
    font-family: "Mate SC", sans-serif;
    background-color: rgba(255, 251, 251, 0.7);
}
input {
    border: thin solid rgba(0,20,30,0.1);
    outline: none;
    padding: 10px ;
    border-radius: 5px;
    margin: 10px;
    font-family: 'Poppins', sans-serif;
    color: rgb(46, 43, 43);
    font-weight: 600;
    box-shadow: 0.3px 0.41px 0.6px rgba(100, 99, 99, 0.4);
}
div.top-box  div h3 {
    color:indigo;
    padding-top:2%;
    text-decoration: underline;
    margin:3px;
    font-family: "Mate Sc", sans-serif;
    font-size: 16px;
}
div.top-box  div h5 {
    padding: 10px;
    font-weight: 600;
    border-radius: 5px;
    font-family: "Mate SC", sans-serif;
    color: indigo;
    text-transform: lowercase;
    font-weight: 600;
}
div.top-box div p a {
    text-decoration: none;
}
div.top-box div p a i {
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 1px;
    color: blue;
    display: inline-block;
}
div.top-box  div p {
    font-weight: 600;
    color: indigo;
    font-weight: 600;
    text-transform: lowercase;
    padding: 10px;
    opacity: 0.8;
    font-size: 14px;
    width: 100%;
    font-family: "Mate SC", sans-serif;
}
div.top-box  div   {
    width:100%;
    position: absolute;
    text-align: center;
    display: inline-block;
    text-align: center;
    z-index:2500;
    padding: 10px 15px;
    margin: 10px auto;
    background-color: #fff;
    box-shadow: 0.3px 0.9px 0.9px rgba(81, 3, 136,0.2);
}
.title {
    text-align: left;
}
.title h5{
    margin: 5px 0%;
    color: rgba(21, 17, 75, 0.8);
    font-family: 'Poppins', sans-serif;
    position: relative;
    font-size: 15px;
    letter-spacing: 0.3px;
    padding: 2% 5%;
    font-weight: 600;
    border-bottom: thin solid rgba(0,20,30,0.1);
}
.title h5 small  {
   display: inline;
}
.title h5 small i {
   position: absolute;
   right: 3%;
   top: 3px;
   color: blue;
   border: thin solid rgba(11, 47, 255, 0.3);
   padding: 5px;
}
.top-box form #title {
    letter-spacing: 1px;
    font-size: 18px;
    text-shadow: 0.1px 0.1px 0.1px gray;
    color:rgba(255, 255, 255, 01)
}
.title div h3 {
    font-family: 'Poppins', sans-serif;
    letter-spacing:0.53px;
    position: relative;
    font-weight: 600;
    color: rgb(21, 17, 75);
    padding-bottom: 5px;
    border-bottom: thin solid rgba(90, 87, 87, 0.1);
    margin-bottom:5px;
    font-size: 15px;
}
.title div h3 i {
    position: absolute;
    right: 0%;
    color: blue;
    cursor: pointer;
}

.title div {
    border: thin solid rgba(0,20,30,0.1);
    border-top: none;
    margin-top: -5px;
    border-radius: 2px;
    padding:10px 10px;
}

.title div small {
    display: block;
    margin-top: 2px;
    font-weight: 600;
    color: blue;
    letter-spacing: 1.5px;
}
.box .boxes .card-body img {
    width:150px;
    border-radius: 100%;
    display: block;
}
.top-box form {
    position: relative;
    width: 100%;
    z-index: 2000;
    padding: 1%;
    background-color: rgb(74, 39, 99);
}
.top-box form h3 {
    margin: 20px 5%;
}
div#title-des {
    text-transform: lowercase;
    color: rgb(45, 23, 61);
}
.top-box form ul li a i.fa {
    vertical-align: middle;
    opacity: 01;
    font-size: 13px;
    color: burlywood;
}
.top-box form ul {
    list-style: none;
    position: absolute;
    right: 10%;
    width: 50%;
    top: 30px;
}
.top-box form ul li {
    margin: 0% 3%;
    float: right;
}
.top-box form ul li a {
    color: rgba(255, 255, 255,0.8);
    text-transform: lowercase;
    font-weight: 600;
    font-size: 14px;
    transition-property: border-bottom;
    transition-duration: 350ms;
    transition-timing-function: ease-in-out;
    padding:5px;
    letter-spacing: 2px;
    text-decoration: none;
}
.top-box form a.special-services i {
    vertical-align: text-bottom;
    color:rgba(222, 184, 135,0.9);
}
.top-box form a.special-services {
    display: none;
    position: relative;
    z-index: 1500;
}
.slash {
    outline: none;
    border:none;
    border-radius:5px;
    margin-top: 20px;
    padding: 10px 10px;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: lowercase;
    font-family: "Zilla Slab";
    text-transform: uppercase;
    background-color: rgb(199, 23, 49);
    color:#fff;
}
.top-box form ul li a:hover {
    border-bottom: thin solid rgba(99, 90, 16,0.5);
}
div.content-box {
    text-align: center;
    position: relative;
    width: 100%;
}
.fadeout {
    color:blue;
    padding: 4px;
    border: thin solid lightblue;
    border-radius: 100%;
    position: absolute;
    right: 38%;
    bottom:80px;
}
div.content-box p.bank i {
    padding: 5px;
    border: thin solid rgba(0, 0, 255, 0.091);
    border-radius: 100%;
    font-size: 12px;
    color: blue;
}
div.socials-icons li {
    list-style: none;
    margin: 5px 0%;
    cursor: pointer;
    font-size: 14px;
}
div.socials-icons {
    position: fixed;
    right: 13%;
    top:250px;
}
i.state-weather {
    position: relative;
    top: -7px;
    color:rgb(255, 238, 0);
    right:-10%;
}
i.fa-moon-o {
    font-size: 14px;
    border-radius: 100%;
}
div.content-box div.weather {
    position: fixed;
    color:rgb(20, 20, 107);
    font-weight:600;
    z-index: 1850;
    width: 100%;
    top:70px;
    font-size: 13px;
    background-color: white;
    border: thin solid rgba(66, 16, 51, 0.051);
    letter-spacing:1px;
    padding: 25px 0px;
    text-transform: lowercase;
}
div.weather i {
    color:rgb(255, 217, 0);
    position: relative;
    right: -2%;
    margin:2px;
}
div.content-box p.bank:active{
    transform:scale(1.3);
}
div.content-box p.bank span {
    font-weight: 600;
    padding:5px;
    position: relative;
    top:-1.5px;
    left:5px;
}

div.card-body {
    padding: 15px 30px;
    position: relative;
    z-index: 850;
    border-radius: 2%;
    transition-property: transform;
    transition-duration: 350ms;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgb(248, 239, 239);
    transition-timing-function: ease-in-out;
    border: thin solid rgba(58, 57, 57, 0.1);
}
div.content-box .box {
    overflow: auto;
    position: relative;
    padding-top: 50px;
    background-attachment: fixed;
}
.box .pro-name {
    text-align:center;
    text-transform: lowercase;
    position: relative;
    margin: 2% 0;
    width: 100%;
}
.box .pro-name h2 {
    color: rgba(51, 50, 50, 0.8);
    margin:5px 5%;
    letter-spacing: 1px;
    padding: 5px 9%;
}
.box .pro-name a {
    text-decoration: none;
    color: blue;
    font-weight: 600;
    font-size: 15px;
    position: absolute;
    top: 9px;
    right: 15%;
}
.order {
    position: absolute;
    width:80%; 
    left:10%;
    display: block;
    top: 0px; 
}
.order div {
    background: rgb(255, 255, 255);
    position: relative;
    z-index: 2100;
    text-align: left;
    box-shadow: 2px 3px 7px rgb(112, 64, 64);
    border: thin solid rgba(153, 143, 143,0.4);
    font-weight: 600;
    padding:5% 5% 15%;
    text-transform: lowercase;
}
div.money {
    background-color: rgb(255, 248, 241);
    padding: 3%;
    width: 100%;
}
button.started {
    border: thin solid rgba(134, 132, 132, 0.3);
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    margin: 2% auto;
    display: block;
    padding: 10px 12px;
    color: rgb(83, 33, 70);
    font-size: 14px;
    text-transform: lowercase;
    text-shadow: 0.1px 0.1px 0.1px gray;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: "Mate Sc", sans-serif;
    background-color: rgb(255, 255, 255);
}
.order div i {
    color: blue;
}
.order div img.nau {
    width: 20px;
    margin: 5px;
    vertical-align: middle;
}
.order div h4 {
    background: rgb(71, 10, 114);
    color: white;
    /* width: 100%; */
    padding:5%;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: lowercase;
}
.order button.shift {
    border: thin solid rgba(255, 255, 255, 0.3);
    outline:none;
    font-weight:600;
    background-color: indigo;
    padding:5px 15px;
    font-family:"Mate Sc", sans-serif;
    letter-spacing: 1px;
    border-radius:3px;
    margin: 4% 2%;
    color:#fff;
    display: block;
    cursor: pointer;
    float:right;
    text-transform: lowercase;
}
.order div a#order {
    margin: 4% 1%;
    padding:5px 10px;
    text-align:left;
    text-decoration: none;
    display:block;
    float: left;
    font-family:"Zilla Slab", sans-serif;
    background: indigo;
    color:#fff;
    cursor: pointer;
    border-radius: 3px;
}
.order div a#order i {
    color: white;
}
.order p {
    text-align: left;
    padding-left: 2%;
}
.boxes .card-body:hover {
    transform: scale(1.05);
}
.box .boxes {
    display: inline-block;
    margin: 10px 2%;
    position: relative;
    color: rgb(80, 80, 83);
    /* z-index:1200; */
}
.display {
    background-color: rgb(255, 255, 255);
    display: none;
    position: relative;
    z-index: 1000;
}
.display .product {
    width: 200px;
}
.display small.star {
    color: rgb(85, 27, 82);
    margin: 1px 2px;
    font-size: 11px;
}
.display #title-des .fa-tag, .display #title-des .fa-feed, .fa-thumbs-up {
    color: blue;
    display: inline-block;
}
#title-des .overview {
    color:rgb(59, 58, 58);
    font-size: 15px;
    margin: 5px 0% 2px;
    font-weight: 600;
    /* font-family: "Poppins"; */
    letter-spacing: 1px;
    /* text-transform: lowercase; */
}
.display p.overview-info {
    position: relative;
    margin:1% 15%;
    color: rgba(0, 0, 0, 0.9);
    /* text-align: left; */
    font-size: 13px;
    line-height: 25px;
    font-family: "Poppins";
    letter-spacing: 1.3px;
    text-transform:capitalize;
    font-weight: 600;
}
.like small {
    font-weight: 600;
    letter-spacing: 1px;
    padding-left:3px;
}

div.display div.act {
    /* padding: 1% 10%; */
    position: relative;
    border: thin solid rgba(47, 136, 252, 0.1);
    margin: 10px auto;
    height: 4em;
    /* z-index: 1000; */
    /* background-color: red; */
    border-radius: 4px;
    width: 100%;
    max-width:400px;
}
.display .act small.amount {
    position: absolute;
    top: 20px;
    left: 3%;
    font-weight: 600;
    letter-spacing: 1.5px;
    color: rgba(77, 20, 67, 0.9);
    font-size: 16px;
}

.display .act small.amount+small:hover {
    transform: scale(1.07);
}
.display .act small.amount+small{
    position:absolute;
    right: 3%;
    transition-property: transform;
    transition-duration: 350ms;
    transition-timing-function: ease-in-out;
    cursor: pointer;
    background-color: blue;
    font-weight: 600;
    top: 10px;
    padding: 10px 20px;
    border-radius: 4px;
    color: #fff;
    font-size: 15px;
    text-transform: lowercase;
}
.fa-bars {
    display: none;
}
/* footer */
footer  {
    width:100%;
    padding:5%;
    position: relative;
    background-color: #fff;
} footer  p , footer  h3{
    font-weight: 600;
    letter-spacing: 1px;
    color: indigo;
}
footer small {
    color: indigo;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 14px;
    vertical-align: text-top;
    text-shadow: 0.1px 0.1px 0.1px rgb(255, 255, 255);
}
footer i.fa-arrow-up {
    color:rgb(3, 115, 243);
    border: thin solid rgba(6, 93, 255, 0.1);
    padding: 5px;
    transition-property: transform;
    transition-timing-function: ease-in-out;
    transition-duration: 500ms;
    border-radius: 100%;
    position: absolute;
    cursor: pointer;
    top: 40px;
    right: 10%;
}
footer i.fa-arrow-up:hover,
footer i.fa-arrow-up:active {
    transform: scale(1.3);
}

@media only screen and (max-width:768px) {
    .box::-webkit-scrollbar {
        display: none;
    }
    .add {
        display: none;
    }
    .top-box form {
        position: fixed;
        top: 0;
    }
    div.top-box {
        margin-bottom:90px;
    }
    .box .boxes {
        position: relative;
        margin: 2% auto;
        text-align: center;
        /* clear: both; */
        display: block;
        width: 200px;
        /* float: left; */
        /* padding: 20px 10% 20px 2%; */
        left:1%;
        text-align: center;
    }
    div.boxes .card-body {
        /* background-color: red; */
        text-align: center;
        width: 100%;
        padding: 30px 20px;
    }
    .box .pro-name h2  {
        text-align: center;
        font-size: 18px;
        text-transform: lowercase;
    }
    i.fa-bars {
        border: thin solid rgba(255, 255, 255,0.1);
        padding: 10px;
        display: block;
        position: absolute;
        right: 10%;
        font-size: 20px;
        top: 20px;
        color: rgb(255, 255, 255);
        cursor: pointer;
        opacity: 01;
    }
    div.top-box form ul.toggle {
        display: block;
    }
    div.top-box form ul {
        display: none;
        top: 0;
        width: inherit;
        position: relative;
        padding:1%;
        margin-left:65px;
        border-top: 0.01px solid rgba(222, 184, 135,0.2);
        border-radius: 0px;
    }
    div.top-box div {
        top: -1.7%;
        border-radius: 0%;
        display:none;
        left: 0%;
    }
    .fadeout {
        right: 16%;
        font-size: 14px;
        cursor: pointer;
    }
    div.top-box form ul li{
        display: block;
        margin: 20px 3px;
        padding-left:2%;
        float: none;
    }
    div.top-box form ul li a{
        color: rgba(255, 255, 255,0.8);
        border: none;
    }
    div.top-box form a.show-services {
        display:inline-block;
        position: absolute;
        bottom:21px;
        color:rgb(243, 242, 235);
        text-transform: lowercase;
        letter-spacing:1.2px;
        padding: 5px 10px;
        border-bottom: 1px solid rgba(222, 184, 135,0.4);
        font-size: 14px;
        text-decoration: none;
        font-weight: 600;
        right:2%;
        cursor: pointer;
    }
    footer {
        margin-top: 30px;
        border-top: thin solid rgba(0, 0, 0, 0.051);
        border-bottom: thin solid rgba(0, 0, 0, 0.051);
    }
    footer h3,footer  p {
        text-transform: lowercase;
        letter-spacing: 1px;
        margin: 5px;
        color: indigo;
    }
    div.weather {
        width:100%;
    }
    
    
}